.itineraryContainer {
    width: 100%;
    min-width: 320px;
    max-width: 800px;

    .itineraryContent {
        width: 100%;
        padding: 1rem;
    }

    .tabs {
        width: 100%;
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
        overflow-x: auto;
        padding: 1rem;
        background-color: #f3f3f3;
        @media (max-width: 768px) {
            gap: 0.25rem;
        }
    }


    .tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        background: #ffffff;
        color: #8d8d8d;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease;
        min-width: 120px;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        height: 40px;
        border:none;

        &.active {
            color: #ffffff;
            background: #f88132;
            transform: translateY(-2px);
            overflow: hidden;
        }

        @media (max-width: 768px) {
            padding: 0.75rem 1rem;
            min-width: 100px;
        }
    }

    .day-number {
        font-size: 0.875rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    .destination {
        font-size: 0.75rem;
        opacity: 0.8;
        text-align: center;
    }

    .tab-content {
        background: white;
        border-radius: 1rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}