@use "../../../styles/variables.scss" as *;

.packageContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow: hidden;
    border-radius: 10px;
    padding: 1rem;
}

.packageInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;


    div {
        color: #090909;
    }

    // When screen is less than 830px, stack vertically
    @media (max-width: 830px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

.routeBreakdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 2rem;
    gap: 1rem;

    @media (max-width: 830px) {
        margin-left: 0rem;
    }

    .routeContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
    }

    .routeDays {
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 0.5rem;
        text-align: center;
        color: #c8c6c6d4;
    }

    .des {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0.5rem;
        text-align: center;
        color: #000000;

        .location {
            font-weight: 700;
        }
    }
}

.title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #000000;
}

.locationInfo {
    gap: 0.25rem;
    color: #666;
    font-size: 0.875rem;
}

.tripDaysInfo {
    display: inline-flex;
    align-items: start;
    justify-content: start;
    padding: 0.5rem 0rem;
    background: #ffffff00;
    border-radius: 2rem;
    font-size: 30px;
    font-weight: 700;
    color: #d7d6d7 !important;
    text-decoration: none;
}

.stayCategory {
    display: inline-flex;
    align-items: start;
    justify-content: start;
    padding: 0.5rem 2rem;
    background-color: #fcb102;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 500;
    color: #edecec !important;
    text-decoration: none;
    margin-left: 2rem;

    @media (max-width: 830px) {
        margin-left: 0rem;
    }
}


.packageType {
    display: inline-flex;
    align-items: start;
    justify-content: start;
    padding: 0.2rem 1rem;
    background: #ff8c27;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff !important;
    text-decoration: none;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
    padding: 1rem 0;

    .featureIcon {
        color: #a9a9a9;
        margin-top: 5px;
    }

    span {
        color: #191919;
    }
}

.featuresDestinations {
    min-width: 270px;
    width: 30%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    border-radius: 10px;
    border: 1px solid #ff6f00;
    background: #ff6f0017;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    .featureDestination {
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.5px;
        font-size: 14px;
        font-weight: 400;
        color: #d05a00 !important;


        svg {
            margin-right: 10px;
            margin-left: 10px;
            color: #a9a9a9 !important;
        }
    }
}

.feature {
    display: flex;
    align-items: center;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 400;
    // border: 1px solid lightgray;
    // border-radius: 20px;
    padding: 0.5rem 1rem;

    span {
        margin-left: 3px;
    }
}

.featureIcon {
    font-size: 1rem;
}

// Animations
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textPulse {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }

    100% {
        transform: scale(1.02);
        filter: brightness(1.1);
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    .title {
        font-size: 2rem;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.75rem;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    border: none;
    margin: 20px 0;
}