.accordion {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    
    .accordion-item {
      border: 1px solid #d3d3d3;
      margin-bottom: 10px;
      border-radius: 10px;
  
      .accordion-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        transition: background 0.3s ease;
        color: #8d8d8d;
  
        &:hover {
          background: #f1f1f1;
        }

        &.active {
          background: #ffffff;
        }
  
        .icon {
          transition: transform 0.3s ease;
        }
  
        .rotate {
          transform: rotate(180deg);
        }

        .accordion-heading{
          display: flex;
          flex-direction: row;
          justify-content: start;
        }
      }
  
      .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        padding: 0 1rem;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;  
  
        &.open {
          max-height: 1000px;
          padding: 1rem;

        }
      }
    }
}
  